/*
  Main CSS File for the Grid Mixer
*/

body {
  font-family: "Open Sans", Helvetica, sans-serif;
}

#app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.footer {
  clear: both;
  margin-top: 1.5em;
  color: #aaa;
  font-size: smaller;
  border-top: 1px solid whitesmoke;
}

.numerical {
  font-family: Courier New, Courier, Arial;
}

/* Level Intro */
#levelIntroModal .level-countdown {
  font-size: 4em;
  text-align: center;
}

/* Controls */
.tech-control {
  float: left;
  margin-right: 2em;
  width: 200px;
}

.tech-control .tech-icon {
  display: block;
  float: left;
  margin-right: 4px;
  width: 50px;
  height: 50px;
  border: 3px solid gray;
  border-radius: 50%;
  background: url(../img/tech-icons-sprite.png) 0 0 no-repeat gray;
}
.tech-control .tech-icon.wind-icon {
  background-position: 2px 2px;
  background-color: #7ba7ab;
  border-color: #7ba7ab;
}
.tech-control .tech-icon.solar-icon {
  background-position: 1px -50px;
  background-color: #edcd4e;
  border-color: #edcd4e;
}
.tech-control .tech-icon.coal-icon {
  background-position: 2px -96px;
  background-color: #605747;
  border-color: #605747;
}
.tech-control .tech-icon.nuclear-icon {
  background-position: 1px -149px;
  background-color: #b71dd3;
  border-color: #b71dd3;
}
.tech-control .tech-icon.hydro-icon {
  background-position: 0px -200px;
  background-color: #3399cc;
  border-color: #3399cc;
}
.tech-control .tech-icon.bio-icon {
  background-position: 0px -250px;
  background-color: #24d73d;
  border-color: #24d73d;
}

.tech-control .progress {
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 22px;
}
.tech-control .progress > .bar {
  box-shadow: none;
} 
.tech-control .progress > .bar.available {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.tech-control .progress > .bar.used {
  opacity: 1;
}
.tech-control .progress.capacity-wind .bar {
  background: #7ba7ab;
}
.tech-control .progress.capacity-solar .bar {
  background: #edcd4e;
}
.tech-control .progress.capacity-coal .bar {
  background: #605747;
}
.tech-control .progress.capacity-nuclear .bar {
  background: #b71dd3;
}
.tech-control .progress.capacity-hydro .bar {
  background: #3399cc;
}
.tech-control .progress.capacity-bio .bar {
  background: #24d73d;
}

.tech-control .tech-btn {
  padding: 0 8px;
  margin-right: 4px;
}

.tech-control .tech-btn span {
  display: block;
  margin-top: -9px;
}

.tech-control .tech-label {
  float: left;
  width: 55px;
  text-align: center;
  color: gray;
}
.tech-control .tech-label.wind-label {
  color: #7ba7ab;
}
.tech-control .tech-label.solar-label {
  color: #edcd4e;
}
.tech-control .tech-label.coal-label {
  color: #605747;
}
.tech-control .tech-label.nuclear-label {
  color: #b71dd3;
}
.tech-control .tech-label.hydro-label {
  color: #3399cc;
}
.tech-control .tech-label.bio-label {
  color: #24d73d;
}


.tech-control .tech-description {
  margin-left: 60px;
  font-size: 0.7em;
}

.tech-control .tech-description p {
  margin-bottom: 0px;
}

.tech-control .tech-description .tech-property {
  display: inline-block;
  width: 6.7em;
  font-weight: 300;
  color: gray;
}

.tech-control .tech-description .value {
  font-weight: bold;
}


.tech-control .tech-description .tech-label {
  font-weight: bold;
}
}

/* Chart CSS */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.area {
  fill: rgba(70, 130, 180); /* steelblue */
  fill: rgba(70, 130, 180, 0.7); /* 70% steelblue */
}

.line {
  fill: none;
  stroke: rgb(0,0,40);
  stroke-width: 1.5px;
}

.tech-bar.wind-bar {
  fill: #7ba7ab;
}
.tech-bar.solar-bar {
  fill: #edcd4e;
}
.tech-bar.coal-bar {
  fill: #605747;
}
.tech-bar.nuclear-bar {
  fill: #b71dd3;
}
.tech-bar.hydro-bar {
  fill: #3399cc;
}
.tech-bar.bio-bar {
  fill: #24d73d;
}

/* Scoreboard */
.scoreboard {
  float: right;
  font-size: 2em;
  position: relative;
}

.score-tick {
  position: absolute;
  font-size: 60%;
  top: -15px;
  right: 2px;
  transition: top 2s;
}

/* Parity */
.parity {
  font-size: 1.8em;
}

/* ---- Legacy ---*/


/* Bootstrap Button Tweaks */
.btn-remove {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #eb362f;
  text-shadow: 0 1px 0 #ffffff;
}

.btn-remove:hover {
  color: #bd362f;
  text-decoration: none;
  cursor: pointer;
}

.btn-edit {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


/* Bootstrap Form mods */
div.controls label.radio { 
  padding: 1px 10px 1px 25px;
  background-color: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 3px;
  cursor: pointer;
}

div.controls label.radio:hover {
  background: #445244;
  border-color: #224222;
  color: white;
}

div.controls label.radio.selected {
  background: none repeat scroll 0 0 #cde69c;
  border: 1px solid #a5d24a;
  color: #225222;
}

/* Panels (General) */

div.panel {
  position: absolute;
  padding: 5px;
  border: 2px solid #aaaaaa;
  border-radius: 8px;
  background: url(../img/80pct-white.png) 0 0 repeat;
}

div.close-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  background: url(../img/close-icon-sprite.png) 0 0 no-repeat transparent;
  width: 20px;
  height: 20px;
}

div.close-icon:hover {
  background-position: -20px 0;
  cursor: pointer;
}


/* Info Panel */

div#info {
  top: 45px;
  left: -6px;
}

div#info-icon {
  float: left;
  width: 21px;
  height: 21px;
  background: url(../img/info-icon-sprite.png) 0 0 no-repeat transparent;
}

div#info-icon:hover {
  background-position: -21px 0;
  cursor: pointer;
}

div#info > div.close-icon {
  display: none;
}

div#info-innards {
  display: none;
}

div#info-innards > span {
  color: #444444;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 30px;
}

div#info a:hover {
  text-decoration: underline;
}

/* Message Panel */
div#message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25em;
  margin-left: -12em;
  margin-top: -25px;
  text-align: center;
  padding: 0.5em;
}

div#message img#loading {
  display: none;
}

div#message span {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: #666;  
  display: block;
  margin-bottom: 0.5em;
}


/* Loading Image */
div.loadingImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background: url(../img/60pct-white.png) repeat transparent;
  text-align: center;
}

div.loadingImg img {
  position: relative;
  top: 50%;
  margin: -16px;
}

/*
 * So datepicker will show up on top of the modal dialog (which has z-index of 1050)
 */
.datepicker{
	z-index:1060;
}
